/*
  Author: Trap Introvert
  github: https://github.com/Trapintrovert

 */

 /* HOME PAGE STYLE */

 @media (max-width:360px) {
   .port-item{
     width: 25% !important;
   }
  header .d-flex{
     font-size: 12px;
   }
   #main-header img{
     width: 100%;
     height: 100% !important;
   }
 }

@media (max-width:320px) {
  .name .fa{
    margin-left: -7px !important;
  }
  #main-header img{
    width: 100%;
    height: 100%;
  }
}

@media (max-width:575px) {
  #main-header img{
    width: 100%;
    height: 100%;
  }
}

/* Medium devices (tablets) */
@media (min-width:768px) {
  #main-header img{
    width: 100%;
    height: 100%;
  }
  #thanks img{
    height: 320px;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
  }

}


/* Large devices (desktops) */
@media (min-width:992px) {
  #main-header img{
    width: 100%;
    height: 88.8%;
  }
}

@media (min-width:1000px) {
  #main-header img{
    width: 100%;
    height: 90.6%;
  }
}

/* Extra large devices (large desktops) */
@media (min-width:1200px) {
  .port-item{
    padding: 3em !important;
  }
  #main-header img{
    width: 100%;
    height: 88.8%;
  }
  #thanks img{
    height: 320px;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
  }

}

body{
  font-family: 'Roboto Mono', monospace;
  background: #000;
}

.bg-black {
  background: #000;
  color: #fff;
}

.port-item{
  width: 30%;
}

.port-item .fa{
  font-size: 2em;

}

#main-header a {
  color: #fff;
}


.port-item:hover{
  opacity: 0.8;
  cursor: pointer;
}

#thanks img{
  border-radius: 20px;
}

#thanks .btn-outline-light{
  margin-left: 30%;
  width: 40%;
}

#home img{
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

#home .inner-card{
  border: 0px;
}

#home .card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .9s ease;
  opacity:0;
 border-radius: 8px;
}
#home .inner-card:hover .card-img-overlay{
 opacity: 0.7;
 background-color: #000;
 color: #ffffff;
}
